EXPO_PUBLIC_SUPABASE_URL=https://qnscenrjpufcuwioglrc.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFuc2NlbnJqcHVmY3V3aW9nbHJjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg3MzE0NTAsImV4cCI6MjA5NDMwNzQ1MH0.usmHui93eRSMe4-UZdTJpdWFdBKyAwrqUQZ9QGqMrfo
